* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --black: #282828;
    --accent: #253b3d;
}

.header {
    padding: 20px 40px;
    background-color: var(--accent);
}

#title {
    color: var(--white);
}

.hero {
    background-color: var(--black);
}

/* Forms */
.calculator {
    padding: 40px 20px;
    width: 70%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    background-color: transparent;
    outline: 0;

    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--white);

    padding: 5px;
}

h3, h4 {
    color: var(--white);
}

label {
    font-weight: 500;
    color: var(--white);
}

.results {
    border-top: 1px solid var(--white);
    padding-top: 20px;
    margin-top: 10px;
    grid-column: 1 / span 3 ;
    display: flex;
    gap: 60px;
}

.yes, .no {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}